version: '3.8'

services:
  php:
    build: .
    container_name: symfony
    volumes:
      - .:/var/www/html

  nginx:
    container_name: nginx_symfony
    image: nginx:alpine
    ports:
      - "8081:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    container_name: db_symfony
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony_db
    ports:
      - "3309:3306"